* {

    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d4d4d4;
}

aside{
    width: 1000px;
    margin: 40px auto;
    padding: 20px 150px 60px;
    background-color: #f0f0f0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}

h1,h2,h3{
    font-family: 'Century Gothic', monospace ;
}

header {
    padding: 30px 15px;
}

#logo{
    float: left;
}
#slogan{
    float: right;
    font-style: italic;
    font-weight: normal;
    font-size: .7rem;
    text-align: right;
    color: #909090;
    width: 30%;
}

#main{
    border-left: 2px solid #ff9191 ;
    border-right: 2px solid #ff9191;
}

.clearfix::before, .clearfix::after,
.block::after, .block::before
{
    content: "";
    display: table;
}
.clearfix::after,.block::after{
    clear: both;
} 

.alignleft{
    float: left;
    margin-right: 15px;
}

.alignright{
    float: right;
    margin-left: 15px;
}

.block{
    padding: 30px;
}
.block img {
    border: 2px solid #ff9191;
    border-radius: 50%;
}

.block:nth-child(odd){
    background-color: #f4dddd;
    border-bottom: 2px solid #ff9191;
    border-top: 2px solid #ff9191;
}